<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Trace" internalLogFile="D:\AKKI_DEV\RND\CoreNLogEventLog\CoreNLogEventLog\LOG\InnerLog.txt">
    <extensions>
        <add assembly="Nlog.WindowsEventLog" />
  </extensions>
   
    
    <variable name="appName" value="NLogEventLog" />
<targets>
  <target xsi:type="EventLog"
  name="eventlog"
  source="${appName}"
  layout="${message}${newline}${exception:format=ToString}" Log="Application" machinename="."/>
</targets>


 
  <rules>
        <logger name="*" writeTo="eventlog" minlevel="Error" />
  </rules>
</nlog>
